<footer class="bg-light dark:bg-darkmode-light">
  <div class="container">
    <div class="row items-center py-8">
      <!-- Logo and Brand -->
      <div class="col-12 lg:col-4 mb-6 text-center lg:text-left lg:mb-0">
        <div class="flex items-center justify-center lg:justify-start">
          <a href="{{ site.Home.RelPermalink }}" class="flex items-center">
            {{ $logo := resources.Get "images/crane.png" }}
            {{ if $logo }}
              <img src="{{ $logo.RelPermalink }}" alt="Vocab@Hiroshima Logo" class="h-8 mr-3">
            {{ end }}
          </a>
          <span class="text-lg font-semibold">Vocab@Hiroshima</span>
        </div>
      </div>
      
      <!-- Contact Info -->
      <div class="col-12 lg:col-4 mb-6 text-center lg:mb-0">
        <div>
          <span class="text-sm">Contact: </span>
          <a href="mailto:info@vocab-at-hiroshima.org" class="text-primary hover:underline">
            info@vocab-at-hiroshima.org
          </a>
        </div>
      </div>
      
      <!-- Social Icons -->
      <div class="col-12 lg:col-4 mb-6 text-center lg:text-right lg:mb-0">
        <div class="flex justify-center lg:justify-end space-x-4">
          <a href="https://x.com/vocabhiroshima" target="_blank" rel="noopener" class="text-gray-600 hover:text-primary">
            <i class="fab fa-x-twitter text-xl"></i>
          </a>
          <a href="https://www.facebook.com/share/1NUko6LGzr/?mibextid=wwXIfr" target="_blank" rel="noopener" class="text-gray-600 hover:text-primary">
            <i class="fab fa-facebook text-xl"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</footer>
